@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

    
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* 
#5065DA
#FB5859
#212142
#AEAFB4
#5C5C63
*/

body, html {
    width: 1100px;
    margin: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    margin-top: 40px;
    align-items: center;
}

.logo-bookmark {
    height: 1.5em;
}

.links > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    font-size: 0.9em;
}

.links > ul > li {
    list-style-type: none;
}

.text {
    color: #a0a1a5;
}


.nav-link {
    text-decoration: none;
    color: #5C5C63;
}

.nav-link:hover {
    color: #FB5859;
}

.button {
    padding: 10px 30px;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.button:hover {
    background-color: white;
}

.button-login {
    background-color: #FB5859;
    border: solid 2px #FB5859;
}

.button-login:hover {
    color: #FB5859;
}

.main-section {
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    height: auto;
}

.main-content {
    padding-top: 70px;
}

.title {
    color: #212142;
}

.main-title {
    font-size: 2.6em;
}

.main-text, .buttons-browser {
    padding-top: 20px;
}

.button-google {
    background-color: #5065DA;
    border: 2px solid #5065DA;
}

.button-google:hover {
    color: #5065DA;
}

.button-firefox {
    background-color: #F7F7F7;
    border: 2px solid #F7F7F7;
    color: #5C5C63;
    box-shadow: 2px 2px 4px rgba(124, 150, 221, 0.158);
}

.button-firefox:hover {
    border: 2px solid #5C5C63;
}

.vizual-midia {
    height: 490px;
}

.image-web-page {
    width: 300;
    position: relative;
    left: 81px;
}

.countainer {
    position: relative;
    top: -325px;
    left: 210px;
    z-index: -1;
    background-color: #5065DA;
    width: 480px;
    height: 340px;
    margin: auto;
    border-radius: 0 0 0 140px;
  }

