@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

    
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* Collors
#5065DA
#FB5859
#212142
#AEAFB4
#5C5C63
*/

body, html {
    width: 1100px;
    margin: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    margin-top: 40px;
    align-items: center;
}

.logo-bookmark {
    height: 1.5em;
}

.links > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    font-size: 0.9em;
}

.links > ul > li {
    list-style-type: none;
}

.text {
    color: #a0a1a5;
    line-height: 1.6rem;
}


.nav-link {
    text-decoration: none;
    color: #5C5C63;
}

.nav-link:hover {
    color: #FB5859;
}

.button {
    padding: 10px 30px;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.button:hover {
    background-color: white;
}

.button-login {
    background-color: #FB5859;
    border: solid 2px #FB5859;
}

.button-login:hover {
    color: #FB5859;
}

.main-section {
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    height: auto;
}

.main-content {
    padding-top: 70px;
}

.title {
    color: #212142;
}

.main-title {
    font-size: 2.6em;
}

.main-text, .buttons-browser {
    padding-top: 20px;
}

.button-blue {
    background-color: #5065DA;
    border: 2px solid #5065DA;
}

.button-blue:hover {
    color: #5065DA;
}

.button-firefox {
    background-color: #F7F7F7;
    border: 2px solid #F7F7F7;
    color: #5C5C63;
    box-shadow: 2px 2px 4px rgba(124, 150, 221, 0.158);
}

.button-firefox:hover {
    border: 2px solid #5C5C63;
}

.vizual-midia {
    height: 490px;
}

.image-web-page {
    width: 300;
    position: relative;
    left: 81px;
}

.back-shape, .back-shape-inverted {
    position: relative;
    top: -325px;
    left: 210px;
    z-index: -1;
    background-color: #5065DA;
    width: 480px;
    height: 340px;
    margin: auto;
    border-radius: 0 0 0 140px;
  }

.features-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.features {
    margin: auto;
    text-align: center;
}

.title-feature {
    font-size: 1.8em;
    font-weight: bold;
}

.feature-text {
    margin-top: 25px;
    margin-bottom: 45px;
    width: 470px;
}

.button-features-container {
    width: 632px;
    margin-bottom: 70px;
    border-bottom: 1px solid #c9cacc;
}

.button-style-feature {
    padding: 30px 40px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 1em;
    cursor: pointer;
    color: #a0a1a5;
}

.button-style-feature:hover {
    color: #FB5859;
}

.button-style-feature-active {
    border-bottom: 3px solid #FB5859;
    padding-bottom: 27px;
    color: #212142;
}

.feature-tab-1, .feature-tab-2, .feature-tab-3 {
    display: flex;
    gap: 120px;
}

.inactive {
    display: none;
}

.text-container-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.text-feature {
    width: 390px;
}

.button-features {
    width: 134px;
}

.extensions-container {
    margin: 150px 0px;
}

.extensions-text-content {
    text-align: center;
}

.extensions-title {
    margin-bottom: 25px;
}

.extensions-text {
    width: 480px;
    margin: auto;
}

.extensions-midia-content {
    margin-top: 70px;
    display: flex;
    height: 358px;
    padding: 20px 100px;
    gap: 30px;
}

.extension-firefox {
    align-self: center;
}

.extension-opera {
    align-self: flex-end;
}

.extensions-browser {
    padding: 15px;
    text-align: center;
    width: 280px;
    height: 278px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(124, 150, 221, 0.158);
    
}

.extensions-img-logo {
    height: 85px;
    margin-bottom: 25px;
}

.extensions-text-midia {
    margin: 8px 40px;
}

.extensions-img-dotted {
    width: 250px;
    margin-bottom: 20px;
}

.questions-container {
    width: 600px;
    padding: 10px;
    margin: auto;
}

.questions-text-container {
    padding-bottom: 50px;
    border-bottom: 1px solid #E9E9E9;
}

.questions-title {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 15px;
}

.questions-text {
    text-align: center;
    width: 450px;
    margin: auto;
}

.question {
    border-bottom: 1px solid #E9E9E9;
    padding: 25px 0px;
}

.question-text-container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.question-title {
    color: #212142;
    font-weight: normal;
}

.questions-arrow {
    width: 18px;
    height: 12px;
    margin-top: 5px;
    margin-right: 18px;
}

.arrow-active {
    filter: invert(41%) sepia(100%) saturate(822%) hue-rotate(322deg) brightness(98%) contrast(101%);
    transform: rotate(180deg);
}

.question-text {
    display: none;
    margin-top: 40px;
}

.question-text-active {
    display: block;
}

.questions-button {
    display: block;
    margin: 50px auto;

}