@import url(base-style.css);

.extensions-container {
    margin: 230px 0px 150px 0px;
}

.extensions-text-content {
    text-align: center;
}

.extensions-title {
    margin-bottom: 25px;
}

.extensions-text {
    width: 480px;
    margin: auto;
}

.extensions-midia-content {
    margin-top: 70px;
    display: flex;
    height: 358px;
    padding: 20px 100px;
    gap: 30px;
}

.extension-firefox {
    align-self: center;
}

.extension-opera {
    align-self: flex-end;
}

.extensions-browser {
    padding: 15px;
    text-align: center;
    width: 280px;
    height: 278px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(124, 150, 221, 0.158);
}

.extensions-img-logo {
    height: 85px;
    margin-bottom: 25px;
}

.extensions-text-midia {
    margin: 8px 40px;
}

.extensions-img-dotted {
    width: 250px;
    margin-bottom: 20px;
}