@import url(base-style.css);

@media (max-width: 480px) {
    .nav-bar {
        flex-direction: column;
        width: 100vw;
        padding: 67px 10%;
        margin: 0px;
        height: 170px;
    }

    .nav-active {
        background-color: #212142ef;
        position: fixed;
        top: 0px;
        z-index: 999;
    }

    .menu {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .logo-bookmark {
        height: 2.3em;
    }

    .menu-hamburguer {
        position: relative;
        top: 5px;
        display: block;
    }

    .links {
        display: block;
        height: 0px;
        width: 100vw;
        position: absolute;
        background-color: #212142ef;
        top: 169px;
        z-index: 999;
        transition: .5s;
        overflow-y: hidden;
        visibility: hidden;
    }

    .links-active {
        height: calc(100vh - 169px);
        visibility: visible;
        
    }

    .links > ul {
        flex-direction: column;
        font-size: 1.5em;
        gap: 0px;
        border-top: 1px solid var(--text-light-color);
    }

    .links > ul > li {
        text-align: center;
        width: 90%;
        padding: 30px 0px;
    }

    .links > ul > li > a {
        color: var(--text-light-color);
    }

    .line {
        border-bottom: 1px solid var(--text-light-color);
    }

    .links > ul > li > button {
        background-color: #2e2e4d00;
        color: var(--text-light-color);
        border: 2px solid var(--text-light-color);
        width: 100%;
        padding: 15px 0px;
    }

    .links > ul > li > button:hover {
        background-color: var(--highlight-color);
        color: var(--text-light-color);
    }

    main {
        width: 100vw;
        margin-top: 30px;
    }
    
    .menu-active-effect {
        margin-top: 280px;
    }

    .main-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .vizual-midia {
        height: 400px;
    }

    .image-web-page {
        width: 90%;
        margin: 0 5%;
        left: 0px;
    }

    .back-shape {
        top: -235px;
        left: 9%;
        width: 81%;
        height: 60%;
      }

    .main-content {
        padding-top: 0px;
    }

    .main-title, .main-text {
        text-align: center;
    }

    .main-text {
        width: 70%;
        margin: auto;
    }

    .buttons-browser {
        text-align: center;
    }

    .features-container {
        margin-top: 40%;
        margin-bottom: 40%;
    }

    .feature-text {
        width: 70%;
    }

    .button-features-container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .button-style-feature {
        border-top: 1px solid #c9cacc;
        font-size: 1.1em;
        padding: 20px 30px;
    }

    .button-style-feature:hover {
        color: var(--highlight-color);
    }

    .feature-tab {
        flex-direction: column;
        gap: 20px;
        height: initial;
    }

    .text-container-feature {
        align-items: center;
        gap: 15px;
        margin-top: 110px;
    }

    .title-feature {
        font-size: 1.6em;
        text-align: center;
    }

    .text-feature {
        width: 70%;
        text-align: center;
    }

    .button-features {
        display: none;
    }

    .feature-media-conteiner {
        text-align: center;
        width: 100%;
    }

    .feature-img {
        width: 80%;
    }

    .back-shape-inverted-tab-1 {
        top: 42px;
        left: 1px;
        width: 83%;
        height: 100%;

    }

    .back-shape-inverted-tab-2 {
        top: 65px;
        left: 1px;
        width: 75%;
        height: 84%;
    }

    .back-shape-inverted-tab-3 {
        top: 71px;
        left: 1px;
        border-radius: 0 150px 140px 0;
        width: 81%;
        height: 90%;
    }

    .extensions-text {
        width: 70%;
    }

    .extensions-midia-content {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        height: initial;
        padding: 20px 100px;
        gap: 70px;
    }

    .extension-google, .extension-opera {
        align-self: center;
    }

    .questions-container {
        width: 100%;
        padding: 7%;
        margin-bottom: 60px;
    }

    .question-text-active {
        height: 241px;
    }

    .questions-title {
        margin: 0px auto 15px auto;
        width: 65%;
    }

    .questions-text {
        width: 80%;
    }

    .contact-title {
        width: 70%;
        font-weight: normal;
    }

    .contact-form {
        flex-direction: column;
        gap: 15px;
        
    }

    .contact-input-error, .contact-button {
        width: 85%;
        margin: auto;
    }

    .contact-input {
        width: 80%;
    }

    .input-error-icon {
        margin: auto
    }

    footer {
        flex-direction: column;
        width: 100vw;
        padding: 40px 0px 50px 0px;
    }

    .footer-logo {
        width: 170px;
        height: initial;
        margin: auto;
    }

    .footer-logo-links {
        gap: 50px;
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }

    .footer-social-media {
        text-align: center;
    }
}